<section class="hero">
    <div class="contentCenter">
        <div class="red">
            <h2>Welcome to</h2>
        </div>
        <div>
            <h1>We Are Best Gymnes</h1>
            <h1 class="RedTitle">Powerful Weight</h1>
        </div>
        <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic excepturi aspernatur, molestiae suscipit sunt odio itaque harum debitis sed repellat fuga autem nihil inventore ipsum necessitatibus laudantium aliquam provident saepe?</p></div>
        <div class="divBtn">
            <button>Read More</button>
            <button>Contact Us</button>
        </div>
    </div>
</section>