<section class="hero">
  <div class="contentCenter">
    <div class="red">
      <h2 class="sub-red">Welcome to</h2>
    </div>
    <div class="containerTitle">
      <h1 class="title">We Are Best Gymnes</h1>
      <h1 class="RedTitle">Powerful Weight</h1>
    </div>
    <div class="textInformate">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic excepturi
        aspernatur, molestiae suscipit sunt odio itaque harum debitis sed
        repellat fuga autem nihil inventore ipsum necessitatibus laudantium
        aliquam provident saepe?
      </p>
    </div>
    <div class="divBtn">
      <button class="redBtn">Read More</button>
      <button class="transparent">Contact Us</button>
    </div>
  </div>
</section>
